body * {
  font-family: "Dosis";
  background-color: #ffccb3;
  text-decoration: none;
  font-size:20px;
}

html, body, #root, #root>div {
  height: 100%;
}

.pageHeader {
  font-family: 'Monoton', cursive;
  font-size:90px;
  color: #0000FE;
}

.submitGuess {
  text-align: center;
}

/* 
#root {
  background-color: #ffccb3;
} */

.full-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
}

.gameContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

input {
  background-color: white;
  border-radius: 10%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.game-board {
  display: grid;
  border: 1px blue solid;
  justify-content: center;
}
.box {
  background-color: lightblue;
  border: 1px blue solid;
  width: 80px;
  height: 80px;

  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.loginForm {
  border: 2px solid black;
  justify-content: center;
  padding: 1em 3em 1em 3em;
  margin-top: 2em;
  box-shadow: -10px -5px 5px blue;
  text-align: center;
}

.newRoomForm {
  margin: 4em 1em 2em 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.newRoomForm button {
  width: 80px;
}

.input {
  width: 15em;
}

.blueSqr {
  background-image: url("http://www.clker.com/cliparts/G/9/u/6/t/2/blue-square-hi.png");
  background-size: 80px 80px;
}

.redSqr {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEb4csW4AeKOxEJu9K89ggJLV_Odn-s7h617LCdhVN9Y86ab0c&s");
  background-size: 80px 80px;
}

.yellowSqr {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvktTbSbjN4n8ZGAsSMl61zud8YsfxkzkbUq2Cg4YbNKm9dyJH&s");
  background-size: 80px 80px;
}

.gameControls {
  display: flex;
  justify-content: center;
}

.gameBtn {
  width: 150px;
  height: 80px;
  color: white;
  font-size: 1.5em;
  font-weight: 600;
  margin: 10px;
}
.gameBtn:hover {
  background-color: white;
  color: #ffccb3;
}

.gamePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  justify-items: center;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup\_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
}

.formBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.room {
  border: 1px solid black;
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10%;
  box-shadow: -10px -5px 5px;
}

.room:hover {
  background: #FFDFCF;
}

.roomGallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}